[submodule "colcon_ws/src/examples"]
	path = colcon_ws/src/examples
	url = https://github.com/ros2/examples.git
	branch = jazzy

[submodule "colcon_ws/src/extras/robot_upstart"]
	path = colcon_ws/src/extras/robot_upstart
	url = https://github.com/gmsebastian/robot_upstart.git