<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="T1_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="Right_Shoulder_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Right_Shoulder_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Right_Shoulder_Roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Right_Shoulder_Roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Right_Elbow_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Right_Elbow_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Right_Elbow_Yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Right_Elbow_Yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Left_Shoulder_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Left_Shoulder_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Left_Shoulder_Roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Left_Shoulder_Roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Left_Elbow_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Left_Elbow_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Left_Elbow_Yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Left_Elbow_Yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Waist">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Waist']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Right_Hip_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Right_Hip_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Right_Hip_Roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Right_Hip_Roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Right_Hip_Yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Right_Hip_Yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Right_Knee_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Right_Knee_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Right_Ankle_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Right_Ankle_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Right_Ankle_Roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Right_Ankle_Roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Left_Hip_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Left_Hip_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Left_Hip_Roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Left_Hip_Roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Left_Hip_Yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Left_Hip_Yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Left_Knee_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Left_Knee_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Left_Ankle_Pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Left_Ankle_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Left_Ankle_Roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Left_Ankle_Roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="AAHead_yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['AAHead_yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Head_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Head_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
